.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* align-items: center; */
  padding: 10px;
  background-color: #333;
  color: white;
}

.title {
  font-size: 24px;
  cursor: pointer;
}

.navbar {
  display: flex;
  justify-content: center;
}

.navLink {
  cursor: pointer;
  margin-left: 20px;
}
